# VITE_SERVO_CONTROLLER_URL=http://localhost:1234
# VITE_RING_SERVO_NAME=ring
# VITE_RING_SERVO_PUSH_POSITION=1
# VITE_RING_SERVO_RESET_POSITION=0

VITE_GAMEPAD_ACTION_MAPPING=standard
VITE_LANG=de
VITE_LOCALE=de-DE
